<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <h1 class="title">CRUD</h1>

    <div class="input">
        <input class="input_fill" type="text">
        <div class="create_btn">create</div>
    </div>

    <div class="showData">
        <div>loading...</div>
        <!-- <div class="renderData">
            <li class="showData_text">random text</li>
            <div class="showData_btns">
                <div class="btn delete">delete</div>
                <div class="btn update">update</div>
            </div>
        </div> -->
    </div>
</body>

</html>